body {
  font-family: Arial;
  background: #fafafa;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
}

img {
  width: 100%;
  border-radius: 8px;
}