body {
  background: #eef2ff;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.option {
  background: #f3f3f3;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}