body {
  background: #e4f3ff;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}